
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/kumbh-sans-v2-latin-300.woff2') format('woff2'),
    url('../fonts/kumbh-sans-v2-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/kumbh-sans-v2-latin-regular.woff2') format('woff2'),
    url('../fonts/kumbh-sans-v2-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/kumbh-sans-v2-latin-700.woff2') format('woff2'),
    url('../fonts/kumbh-sans-v2-latin-700.woff') format('woff');
}