.header-site {

}

.header-site-nav {
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 5;
}

.header-site-nav__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.header-site-nav__mobile-menu {

}

.mobile-menu__item {

}

.header-site-nav__menu-list {

}

.header-site-nav__menu-item {

}

.header-site-nav__menu-link {

}

.header-site-nav__menu-button {

}
